In [1]:
import numpy as np
import pandas as pd

In [6]:
class Sale:
    def __init__(
            self,
            date,
            clientName,
            clientType,
            productId,
            productName,
            productCategory,
            productPrice,
            saleAmount,
            saleDiscount,
    ):
        self.date = date
        self.clientName = clientName
        self.clientType = clientType
        self.productId = productId
        self.productName = productName
        self.productCategory = productCategory
        self.productPrice = productPrice
        self.saleAmount = saleAmount
        self.saleDiscount = saleDiscount

    def to_dict(self):
        return {
            "date": self.date,
            "clientName": self.clientName,
            "clientType": self.clientType,
            "productId": self.productId,
            "productName": self.productName,
            "productCategory": self.productCategory,
            "productPrice": self.productPrice,
            "saleAmount": self.saleAmount,
            "saleDiscount": self.saleDiscount,
        }

In [9]:
sales = []

for i in np.arange(100):
    sales.append(Sale(
        date = "2024-01-01",
        clientName = "John Doe",
        clientType = "Premium",
        productId = "12345",
        productName = "Widget Deluxe",
        productCategory = "Gadgets",
        productPrice = "$199.99",
        saleAmount = "50 units",
        saleDiscount = "10%",

    ))

df_sales = pd.DataFrame([x.to_dict() for x in sales])
df_sales

,date,clientName,clientType,productId,productName,productCategory,productPrice,saleAmount,saleDiscount
0,2024-01-01,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
1,2024-01-01,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
2,2024-01-01,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
3,2024-01-01,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
4,2024-01-01,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
...,...,...,...,...,...,...,...,...,...
95,2024-01-01,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
96,2024-01-01,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
97,2024-01-01,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
98,2024-01-01,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%
99,2024-01-01,John Doe,Premium,12345,Widget Deluxe,Gadgets,$199.99,50 units,10%

In [10]:
df_sales.to_csv("sales-data-sales.csv")